<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="X-CSRF-TOKEN" content="178e6cb9e0f672a2049dde11dce90920"/>
    <title>Quality Work</title>
    <link rel="icon" href="quality-work-01.svg">
    <link rel="apple-touch-icon" href="quality-work-01.svg">
    <link rel="stylesheet" href="/static/css/uikit.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/table-style.css" type="text/css"/>
    <script src="jquery.min.js"></script>
    <script src="uikit.min.js"></script>
    <script src="uikit-icons.min.js"></script>
    <script src="inputmask.min.js"></script>
    <script src="app.js"></script>
</head><body>
<nav id="nav" class="nav-crm close">
    <ul>
        <li class="logo-container"><a href="http://localhost:8080/panel/coordinator" class="logo-text">
            <span>Quality Work</span>In the right place at the right time        </a></li>
        <li class="divider">Menu</li>
        <li><a href="http://localhost:8080/panel/coordinator" class=" active icon icon-dashboard">Стартова панель</a></li>
        <li><a href="http://localhost:8080/calendar" class=" icon icon-objects">Календар</a></li>
        <li><a th:href="@{http://localhost:8080/stat/{userId}(userId = ${user.id})}" class=" icon icon-stat">Статистика</a></li>
    </ul>
    <ul class="nav-crm-bottom">
        <li class="lang uk-hidden@l">
            <a href="https://e-quality.work/uk/crm/calendar" class="active">Українська</a>
            <a href="https://e-quality.work/pl/crm/calendar" class="">Polski</a>
        </li>
        <li class="profile">
            <a href="http://localhost:8080/profile">
                <img class="profile-image" src="static/images/avatar.png">
                <div><p th:text="${user.firstName + ' ' + user.lastName}"></div>
            </a>
            <div class="profile-number"><p th:text="${user.id}"></div>
        </li>
        <li><a href="/logout" class="icon icon-logout">Вийти</a></li>
    </ul>
    <a href="#" data-uk-toggle="target: #nav; cls: close" class="nav-crm-close uk-hidden@l"><span data-uk-icon="icon:close;ratio:1">
    </span></a>
</nav>
<header class="header-crm">
    <div data-uk-grid class="uk-grid-small">
        <div class="uk-width-auto uk-hidden@l">
            <a href="https://e-quality.work/uk/crm/" class="logo logo-icon"></a>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle uk-hidden@l">
            <a href="#" data-uk-toggle="target: #nav; cls: close" class="">
                <span data-uk-icon="icon:menu;ratio:1.2"></span></a>
        </div>
        <div class="uk-width-expand uk-flex uk-flex-middle">
            <div class="header-title">Start panel</div>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle uk-visible@m">
            <ul class="lang-ul">
                <li><a href="https://e-quality.work/uk/crm/" class="active">Ukraine</a></li>
                <li><a href="https://e-quality.work/pl/crm/" class="">Polski</a></li>
            </ul>
        </div>
    </div>
</header>
<main class="main-crm">
    <div data-uk-grid class="uk-grid-small">
        <br>
        <div class="uk-width-1-1"><h3>Мої замовлення цього тижня</h3></div>
        <div class="table">
            <div class="table__title">Tabela zamówień</div>
            <div class="table__cols">
                <div class="table__col">
                    <div class="table__row table__row--title" th:text="${dates.get(0)}"></div>
                    <div th:each="order : ${orderService.getByDate(dates.get(0))}">
                        <div class="table__row bg-brown" th:text="${order.needWorkers + ' PAX ' + order.startTime.toLocalTime() + '-' + order.finishTime.toLocalTime() + ' ' + order.object.name + ' ' + order.description}"></div>
                        <div th:each="userOrder : ${orderUserService.getByCoordinator(orderUserService.getByOrder(order), user)}">
                            <div class="table__row bg-green" th:if="${userOrder.user != null}">
                                <span th:text="${userOrder.user.firstName + ' ' + userOrder.user.lastName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__row table__row--title" th:text="${dates.get(1)}"></div>
                    <div th:each="order : ${orderService.getByDate(dates.get(1))}">
                        <div class="table__row bg-brown" th:text="${order.needWorkers + ' PAX ' + order.startTime.toLocalTime() + '-' + order.finishTime.toLocalTime() + ' ' + order.object.name + ' ' + order.description}"></div>
                        <div th:each="userOrder : ${orderUserService.getByCoordinator(orderUserService.getByOrder(order), user)}">
                            <div class="table__row bg-green" th:if="${userOrder.user != null}">
                                <span th:text="${userOrder.user.firstName + ' ' + userOrder.user.lastName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__row table__row--title" th:text="${dates.get(2)}"></div>
                    <div th:each="order : ${orderService.getByDate(dates.get(2))}">
                        <div class="table__row bg-brown" th:text="${order.needWorkers + ' PAX ' + order.startTime.toLocalTime() + '-' + order.finishTime.toLocalTime() + ' ' + order.object.name + ' ' + order.description}"></div>
                        <div th:each="userOrder : ${orderUserService.getByCoordinator(orderUserService.getByOrder(order), user)}">
                            <div class="table__row bg-green" th:if="${userOrder.user != null}">
                                <span th:text="${userOrder.user.firstName + ' ' + userOrder.user.lastName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__row table__row--title" th:text="${dates.get(3)}"></div>
                    <div th:each="order : ${orderService.getByDate(dates.get(3))}">
                        <div class="table__row bg-brown" th:text="${order.needWorkers + ' PAX ' + order.startTime.toLocalTime() + '-' + order.finishTime.toLocalTime() + ' ' + order.object.name + ' ' + order.description}"></div>
                        <div th:each="userOrder : ${orderUserService.getByCoordinator(orderUserService.getByOrder(order), user)}">
                            <div class="table__row bg-green" th:if="${userOrder.user != null}">
                                <span th:text="${userOrder.user.firstName + ' ' + userOrder.user.lastName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__row table__row--title" th:text="${dates.get(4)}"></div>
                    <div th:each="order : ${orderService.getByDate(dates.get(4))}">
                        <div class="table__row bg-brown" th:text="${order.needWorkers + ' PAX ' + order.startTime.toLocalTime() + '-' + order.finishTime.toLocalTime() + ' ' + order.object.name + ' ' + order.description}"></div>
                        <div th:each="userOrder : ${orderUserService.getByCoordinator(orderUserService.getByOrder(order), user)}">
                            <div class="table__row bg-green" th:if="${userOrder.user != null}">
                                <span th:text="${userOrder.user.firstName + ' ' + userOrder.user.lastName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__row table__row--title" th:text="${dates.get(5)}"></div>
                    <div th:each="order : ${orderService.getByDate(dates.get(5))}">
                        <div class="table__row bg-brown" th:text="${order.needWorkers + ' PAX ' + order.startTime.toLocalTime() + '-' + order.finishTime.toLocalTime() + ' ' + order.object.name + ' ' + order.description}"></div>
                        <div th:each="userOrder : ${orderUserService.getByCoordinator(orderUserService.getByOrder(order), user)}">
                            <div class="table__row bg-green" th:if="${userOrder.user != null}">
                                <span th:text="${userOrder.user.firstName + ' ' + userOrder.user.lastName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__row table__row--title" th:text="${dates.get(6)}"></div>
                    <div th:each="order : ${orderService.getByDate(dates.get(6))}">
                        <div class="table__row bg-brown" th:text="${order.needWorkers + ' PAX ' + order.startTime.toLocalTime() + '-' + order.finishTime.toLocalTime() + ' ' + order.object.name + ' ' + order.description}"></div>
                        <div th:each="userOrder : ${orderUserService.getByCoordinator(orderUserService.getByOrder(order), user)}">
                            <div class="table__row bg-green" th:if="${userOrder.user != null}">
                                <span th:text="${userOrder.user.firstName + ' ' + userOrder.user.lastName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="uk-width-1-1">
            <a href="https://e-quality.work/uk/crm/orders/all-list/" target="_blank" class="uk-button uk-button-green uk-button-small">Завантажити List поточного тижня</a>
        </div>
    </div>
    </div>
</main>
<footer class="footer-crm">
    2023 Quality Work - In the right place At the right time</footer>
</body>
</html>