<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>Quality Work</title>
  <link rel="icon" href="/static/images/quality-work-01.svg">
  <link rel="apple-touch-icon" href="/static/images/quality-work-01.svg">
</head>
<body>
<nav id="nav" class="nav-crm close">
  <ul>
    <li class="logo-container"><a href="http://localhost:8080/panel/worker" class="logo-text">
      <span>Quality Work</span>In the right place at the right time        </a></li>
    <li class="divider">Menu</li>
    <li><a href="http://localhost:8080/panel/worker" class="icon icon-dashboard">Стартова панель</a></li>
    <li><a href="http://localhost:8080/calendar" class="active icon icon-objects">Календар</a></li>
    <li><a th:href="@{http://localhost:8080/stat/{userId}(userId = ${loggedUser.id})}" class=" icon icon-stat">Статистика</a></li>
  </ul>
  <ul class="nav-crm-bottom">
    <li class="lang uk-hidden@l">
      <a href="https://e-quality.work/uk/crm/calendar" class="active">Українська</a>
      <a href="https://e-quality.work/pl/crm/calendar" class="">Polski</a>
    </li>
    <li class="profile">
      <a href="http://localhost:8080/profile">
        <img class="profile-image" src="static/images/avatar.png">
        <div><p th:text="${loggedUser.firstName + ' ' + loggedUser.lastName}"></div>
      </a>
      <div class="profile-number"><p th:text="${loggedUser.id}"></div>
    </li>
    <li><a href="/logout" class="icon icon-logout">Вийти</a></li>
  </ul>
</nav>
<div>
  <form method="post" th:action="@{http://localhost:8080/calendar/edit}">
    <!-- Для первой даты -->
    <div class="uk-width-auto">
      <p th:text="${dates.get(0).dayOfWeek.toString() + ' ' + dates.get(0).dayOfMonth + ' ' + dates.get(0).month.toString()}"></p>
      <label class="input block">
        <input name="zmina_0" th:value="${dates.get(0).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Не працюю
      </label>
      <label class="input block">
        <input name="zmina_0" th:value="${dates.get(0).toString() + '_1'}" class="uk-radio" type="radio">
        Денна зміна
      </label>
      <label class="input block">
        <input name="zmina_0" th:value="${dates.get(0).toString() + '_2'}" class="uk-radio" type="radio">
        Нічна зміна
      </label>
    </div>
    <div class="uk-width-auto">
      <p th:text="${dates.get(1).dayOfWeek.toString() + ' ' + dates.get(1).dayOfMonth + ' ' + dates.get(1).month.toString()}"></p>
      <label class="input block">
        <input name="zmina_1" th:value="${dates.get(1).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Не працюю
      </label>
      <label class="input block">
        <input name="zmina_1" th:value="${dates.get(1).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Денна зміна
      </label>
      <label class="input block">
        <input name="zmina_1" th:value="${dates.get(1).toString() + '_2'}" class="uk-radio" type="radio">
        Нічна зміна
      </label>
    </div>
    <div class="uk-width-auto">
      <p th:text="${dates.get(2).dayOfWeek.toString() + ' ' + dates.get(2).dayOfMonth + ' ' + dates.get(2).month.toString()}"></p>
      <label class="input block">
        <input name="zmina_2" th:value="${dates.get(2).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Не працюю
      </label>
      <label class="input block">
        <input name="zmina_2" th:value="${dates.get(2).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Денна зміна
      </label>
      <label class="input block">
        <input name="zmina_2" th:value="${dates.get(3).toString() + '_2'}" class="uk-radio" type="radio">
        Нічна зміна
      </label>
    </div>
    <div class="uk-width-auto">
      <p th:text="${dates.get(3).dayOfWeek.toString() + ' ' + dates.get(3).dayOfMonth + ' ' + dates.get(3).month.toString()}"></p>
      <label class="input block">
        <input name="zmina_3" th:value="${dates.get(3).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Не працюю
      </label>
      <label class="input block">
        <input name="zmina_3" th:value="${dates.get(3).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Денна зміна
      </label>
      <label class="input block">
        <input name="zmina_3" th:value="${dates.get(3).toString() + '_2'}" class="uk-radio" type="radio">
        Нічна зміна
      </label>
    </div>
    <div class="uk-width-auto">
      <p th:text="${dates.get(4).dayOfWeek.toString() + ' ' + dates.get(4).dayOfMonth + ' ' + dates.get(4).month.toString()}"></p>
      <label class="input block">
        <input name="zmina_4" th:value="${dates.get(4).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Не працюю
      </label>
      <label class="input block">
        <input name="zmina_4" th:value="${dates.get(4).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Денна зміна
      </label>
      <label class="input block">
        <input name="zmina_4" th:value="${dates.get(4).toString() + '_2'}" class="uk-radio" type="radio">
        Нічна зміна
      </label>
    </div>
    <div class="uk-width-auto">
      <p th:text="${dates.get(5).dayOfWeek.toString() + ' ' + dates.get(5).dayOfMonth + ' ' + dates.get(5).month.toString()}"></p>
      <label class="input block">
        <input name="zmina_5" th:value="${dates.get(5).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Не працюю
      </label>
      <label class="input block">
        <input name="zmina_5" th:value="${dates.get(5).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Денна зміна
      </label>
      <label class="input block">
        <input name="zmina_5" th:value="${dates.get(5).toString() + '_2'}" class="uk-radio" type="radio">
        Нічна зміна
      </label>
    </div>
    <div class="uk-width-auto">
      <p th:text="${dates.get(6).dayOfWeek.toString() + ' ' + dates.get(6).dayOfMonth + ' ' + dates.get(6).month.toString()}"></p>
      <label class="input block">
        <input name="zmina_6" th:value="${dates.get(6).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Не працюю
      </label>
      <label class="input block">
        <input name="zmina_6" th:value="${dates.get(6).toString() + '_0'}" class="uk-radio" type="radio" checked>
        Денна зміна
      </label>
      <label class="input block">
        <input name="zmina_6" th:value="${dates.get(6).toString() + '_2'}" class="uk-radio" type="radio">
        Нічна зміна
      </label>
    </div>
    <div class="uk-width-auto">
      <input name="id" th:value="${loggedUser.id}" type="text" hidden>
      <input name="week" value="this" type="input" hidden>
      <input name="type" value="edit" type="input" hidden>
      <button class="uk-button uk-button-small uk-width-1-1 uk-width-auto@s" type="submit" name="submit" value="Submit">Оновити</button>
    </div>
  </form>
</div>
</body>
</html>