<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="X-CSRF-TOKEN" content="ff0dbf945d28b01a7a7367026e0eee70" />
    <title>Quality Work</title>
    <link rel="icon" href="/assets/images/quality-work-icon-01.svg">
    <link rel="apple-touch-icon" href="/assets/images/quality-work-icon-01.svg">
    <base href="https://e-quality.work">
    <link href="/assets/uikit/css/uikit.min.css" type="text/css" rel="stylesheet" />
    <link href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="/assets/style/style.css?1687523934" type="text/css" rel="stylesheet" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/uikit/js/uikit.min.js"></script>
    <script src="/assets/uikit/js/uikit-icons.min.js"></script>
    <script src="/assets/js/inputmask.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script src="/assets/js/app.js"></script>
</head><body>
<nav id="nav" class="nav-crm close">
    <ul>
        <li class="logo-container"><a href="/index" class="logo-text">
            <span>Quality Work</span>In the right place at the right time</a>
        </li>
        <li class="divider">Меню</li>
        <li><a href="https://e-quality-work.eu/index" class=" icon icon-dashboard">Стартова панель</a></li>
        <li><a href="https://e-quality-work.eu/objects" class="active icon icon-objects">Об'єкти</a></li>
        <li><a href="https://e-quality-work.eu/orders" class=" icon icon-orders">Замовлення</a></li>
        <li><a href="https://e-quality-work.eu/users" class=" icon icon-users">Працівникі</a></li>
        <li><a href="https://e-quality-work.eu/stat" class=" icon icon-stat">Статистика</a></li>
    </ul>
    <ul class="nav-crm-bottom">
        <li class="lang uk-hidden@l">
            <a href="https://e-quality-work.eu/" class="active">Українська</a>
            <a href="https://e-quality-work.eu/" class="">Polski</a>
        </li>
        <li class="profile">
            <a href="https://e-quality-work.eu/profile">
                <img class="profile-image" src="assets/upload/avatar/avatar.png">
                <div><p th:text="${loggedUser.firstName}"><br><p th:text="${loggedUser.lastName}"></div>
            </a>
            <div class="profile-number"><p th:text="${loggedUser.id}"></div>
        </li>
        <li><a href="https://e-quality-work.eu/logout" class="icon icon-logout">Вийти</a></li>
    </ul>
    <a href="#" data-uk-toggle="target: #nav; cls: close" class="nav-crm-close uk-hidden@l"><span data-uk-icon="icon:close;ratio:1">
    </span></a>
</nav>
<header class="header-crm">
    <div data-uk-grid class="uk-grid-small">
        <div class="uk-width-auto uk-hidden@l">
            <a href="/index" class="logo logo-icon"></a>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle uk-hidden@l">
            <a href="#" data-uk-toggle="target: #nav; cls: close" class=""><span data-uk-icon="icon:menu;ratio:1.2"></span></a>
        </div>
        <div class="uk-width-expand uk-flex uk-flex-middle">
            <div class="header-title">Редагування об'єкту</div>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle uk-visible@m">
            <ul class="lang-ul">
                <li><a href="https://e-quality-work.eu/" class="active">Українська</a></li>
                <li><a href="https://e-quality-work.eu/" class="">Polski</a></li>
            </ul>
        </div>
    </div>
</header>
<main class="main-crm">
    <div data-uk-grid class="uk-grid-small">
        <div class="uk-width-1-1">
            <a href="https://e-quality-work.eu/">
                <span data-uk-icon="icon:arrow-left" class="uk-margin-small-right">
            </span>Повернутись до переліку об'єктів</a>
        </div>
        <div class="uk-width-1-1">
            <h1>Hotel Arche </h1>
        </div>
        <div class="uk-width-1-1"><hr></div>
        <div class="uk-width-1-1">
            <form method="POST" th:action="@{https://e-quality-work.eu/objects/edit/{objId}(objId = ${ob.id})}"
                  data-uk-grid class="uk-grid-small" enctype="multipart/form-data">
                <div class="uk-width-expand">
                    <div data-uk-grid class="uk-grid-small">
                        <div class="uk-width-1-1@s">
                            <label>Назва oб'єкта</label>
                            <input name="title" th:value="${ob.name}" class="uk-input uk-width-1-1" type="text" required>
                        </div>
                        <div class="uk-width-expand@s">
                            <label>Адреса</label>
                            <input name="address" th:value="${ob.address}" class="uk-input uk-width-1-1" type="text">
                        </div>
                        <div class="uk-width-1-1">
                            <div data-uk-grid class="uk-grid-small">
                                <div class="uk-width-small@s">
                                    <label>Телефон</label>
                                    <div class="phone-container">
                                        <input name="phone" th:value="${ob.phoneNumber}" class="uk-input uk-width-1-1 phone" type="text" maxlength="13"></div>
                                </div>
                                <div class="uk-width-expand@s">
                                    <label>Email</label>
                                    <input name="email" th:value="${ob.email}" class="uk-input uk-width-1-1" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@s">
                            <label>Опис</label>
                            <textarea name="description" class="uk-textarea" rows="4" th:text="${ob.description}"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <input type="checkbox" name="is_security" value="1" class="uk-checkbox uk-margin-small-right" >
                            Додавати лист для охорони
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@m">
                    <div data-uk-grid class="uk-grid-small">
                        <div class="uk-width-1-2">
                            <label>Координати LAT</label>
                            <input name="lat" th:value="${ob.lat}" class="uk-input uk-width-1-1" type="text">
                        </div>
                        <div class="uk-width-1-2">
                            <label>Координати LNG</label>
                            <input name="lng" th:value="${ob.lng}" class="uk-input uk-width-1-1" type="text">
                        </div>
                        <div class="uk-width-1-1">
                            <div id="map" class="map"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div data-uk-grid class="uk-grid-small">
                        <div class="uk-width-small" data-uk-lightbox>
                            <a href="assets/upload/object/1676731149_a2a333334fb41cf36e08.png">
                                <img src="assets/upload/object/1676731149_a2a333334fb41cf36e08_thumb.png">
                            </a>
                        </div>
                        <div class="uk-width-expand">
                            <div class="input-desc">Щоб додати зображення до об'єкту оберіть його. Дозволені типи файлів: jpg, png</div>
                            <div class="uk-width-1-1" data-uk-form-custom="target: true">
                                <input type="file" name="file">
                                <input class="uk-input uk-width-1-1" type="text" placeholder="Обрати зображення" disabled>
                            </div>
                        </div>
                        <div class="uk-width-1-1">
                            <input value="1" name="remove-image" class="uk-checkbox uk-margin-small-right" type="checkbox">
                            Видалити зображення
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div data-uk-grid class="uk-grid-small">
                        <div class="uk-width-expand@s">
                            <input name="id" th:value="${ob.id}" type="text" hidden>
                            <button class="uk-button uk-button-small uk-width-1-1 uk-width-auto@s" type="submit" name="submit" value="Submit">Оновити</button>
                        </div>
                        <div class="uk-width-auto@s">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="uk-width-1-1 uk-margin-large-top"><hr></div>
        <div class="uk-width-1-1">
            <a href="#remove" data-uk-toggle class="">Видалити об'єкт</a>
            <div id="remove" data-uk-modal="bg-close:false;">
                <div class="uk-modal-dialog uk-modal-body">
                    <button class="uk-modal-close-default" type="button" data-uk-close></button>
                    <div data-uk-grid class="uk-grid-small uk-flex uk-flex-center">
                        <div class="uk-width-1-1 uk-text-center"><h4>Увага! Видалення об'єкта.</h4></div>
                        <div class="uk-width-1-1 uk-text-center"><p>Запит на видалення об'єкта <b><p th:text="${ob.name}"></b><br>Ця дія безповоротна і об'єкт буде видалений.<br>Ви підтверджуєте видалення?</p><span class="delete-title-entry"></span></div>
                        <div class="uk-width-expand">
                            <button class="uk-button uk-width-1-1 uk-modal-close">Відміна</button>
                        </div>
                        <div class="uk-width-expand">
                            <form method="post" action="https://e-quality-work.eu">
                                <input name="_method" value="DELETE" type="text" hidden>
                                <input name="id" value="25" type="text" hidden>
                                <button class="uk-button uk-width-1-1 uk-button-danger" type="submit" name="submit" value="Submit_page_del">Підтвердити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer-crm">
    2023 © Quality Work — In the right place At the right time</footer>
</body>
</html>