<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <meta name="X-CSRF-TOKEN" content="3400ce4968891e5156bab08ebff36c3c" /><title>Quality Work</title>
  <link rel="icon" href="/assets/images/quality-work-icon-01.svg">
  <link rel="apple-touch-icon" href="/assets/images/quality-work-icon-01.svg">
  <base href="https://e-quality.work">
  <link href="/assets/uikit/css/uikit.min.css" type="text/css" rel="stylesheet" />
  <link href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" rel="stylesheet"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="/assets/style/style.css?1688298535" type="text/css" rel="stylesheet" />
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/uikit/js/uikit.min.js"></script>
  <script src="/assets/uikit/js/uikit-icons.min.js"></script>
  <script src="/assets/js/inputmask.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
  <script src="/assets/js/app.js"></script>
</head>
<body>
<nav id="nav" class="nav-crm close">
  <ul>
    <li class="logo-container"><a href="/index" class="logo-text">
      <span>Quality Work</span>In the right place at the right time        </a></li>
    <li class="divider">Меню</li>
    <li><a href="/index" class="icon icon-dashboard">Стартова панель</a></li>
    <li><a href="/objects" class=" icon icon-objects">Об'єкти</a></li>
    <li><a href="/orders" class=" icon icon-orders">Замовлення</a></li>
    <li><a href="/users" class="active icon icon-users">Працівникі</a></li>
    <li><a href="/stat" class=" icon icon-stat">Статистика</a></li>
  </ul>
  <ul class="nav-crm-bottom">
    <li class="lang uk-hidden@l">
      <a href="/" class="active">Українська</a>
      <a href="/" class="">Polski</a>
    </li>
    <li class="profile">
      <a href="/">
        <img class="profile-image" src="assets/upload/avatar/avatar.png">
        <div><p th:text="${loggedUser.firstName}"><br><p th:text="${loggedUser.lastName}"></div>
      </a>
      <div class="profile-number"><p th:text="${loggedUser.id}"></div>
    </li>
    <li><a href="/" class="icon icon-logout">Вийти</a></li>
  </ul>
  <a href="#" data-uk-toggle="target: #nav; cls: close" class="nav-crm-close uk-hidden@l"><span data-uk-icon="icon:close;ratio:1"></span></a>
</nav>
<header class="header-crm">
  <div data-uk-grid class="uk-grid-small">
    <div class="uk-width-auto uk-hidden@l">
      <a href="/" class="logo logo-icon"></a>
    </div>
    <div class="uk-width-auto uk-flex uk-flex-middle uk-hidden@l">
      <a href="#" data-uk-toggle="target: #nav; cls: close" class=""><span data-uk-icon="icon:menu;ratio:1.2"></span></a>
    </div>
    <div class="uk-width-expand uk-flex uk-flex-middle">
      <div class="header-title">Працівник</div>
    </div>
    <div class="uk-width-auto uk-flex uk-flex-middle uk-visible@m">
      <ul class="lang-ul">
        <li><a href="/" class="active">Українська</a></li>
        <li><a href="/" class="">Polski</a></li>
      </ul>
    </div>
  </div>
</header>
<main class="main-crm">
  <div data-uk-grid class="uk-grid-small">
    <div class="uk-width-1-1">
      <a href="/"><span data-uk-icon="icon:arrow-left" class="uk-margin-small-right">
      </span>Повернутись до переліку працівників</a>
    </div>
    <div class="uk-width-1-1">
      <div data-uk-grid class="uk-grid-small">

        <div class="uk-width-auto">
          <span th:if="${user.isAllowed()== false}">
             <form method="POST" th:action="@{/users/{userId}(userId = ${user.id})}">
            <input hidden name="id" th:value="${user.id}" class="uk-input uk-width-1-1" type="number">
            <button type="submit" class="uk-button uk-button-small uk-button-green">Активувати</button>
          </form>
          </span>
          <span th:if="${user.isAllowed()== true}">
          <form method="POST" th:action="@{'/users/' + ${user.id} + '/block'}">
            <input hidden name="id" th:value="${user.id}" class="uk-input uk-width-1-1" type="number">
            <button type="submit" class="uk-button uk-button-small uk-button-danger">Блокувати</button>
          </form>
            </span>
        </div>
        <div class="uk-width-auto">
          <div class="">
            <a th:href="@{/profile/{userId}(userId = ${user.id})}" class="uk-button uk-button-small">Профайл</a>
          </div>
        </div>
        <div class="uk-width-auto">
          <div class="">
            <a th:href="@{/calendar/coordinator/{userId}(userId = ${user.id})}" class="uk-button uk-button-small">Календар</a>
          </div>
        </div>
        <div class="uk-width-expand">
          <a th:href="@{/users/questionnaire/{userId}(userId = ${user.id})}" class="uk-button uk-button-small">Анкета</a>
        </div>
      </div>
    </div>
    <div class="uk-width-1-1"><hr></div>
    <div class="uk-width-1-1"><h1>Профайл / <p th:text="${user.firstName + user.lastName}"></h1></div>
    <div class="uk-width-1-1">
      <div data-uk-grid class="uk-grid-small">
        <div class="uk-width-small@s">
          <img src="assets/upload/avatar/avatar.png" class="avatar">
        </div>
        <div class="uk-width-expand">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-xsmall uk-table-justify">
              <tr>
                <td class="uk-text-bold uk-table-shrink">Статус</td>
                <td class="uk-text-bold uk-text-danger">
                  <div th:switch="${user.isAllowed()}">
                    <span th:case="true" ><p class="uk-label uk-label-1" th:text="Активный"></p></span>
                    <span th:case="false"><p class="uk-label uk-label-0" th:text="Неактивный"></p></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="uk-text-bold uk-table-shrink">Номер</td>
                <td class="uk-text-bold uk-text-danger"><p th:text="${user.id}"></td>
              </tr>
              <tr>
                <td class="uk-text-bold uk-table-shrink">Координатор</td>
                <td class="uk-text-bold uk-text-danger">
                  <span th:if="${user.coordinator != null}">
                    <p th:text="${user.coordinator.id}">
                  </span>
                  <span class="uk-text-danger" th:if="${user.coordinator == null}">
                    Не зазначений
                  </span>
                </td>
              </tr>
              <tr>
                <td class="uk-text-bold uk-table-shrink">Група</td>
                <td><p th:text="${user.role}"></td>
              </tr>
              <tr>
                <td class="uk-text-bold uk-table-shrink">ПІБ</td>
                <td><p th:text="${user.firstName + user.lastName}"></td>
              </tr>
              <tr>
                <td class="uk-text-bold uk-table-shrink">Email</td>
                <td><p th:text="${user.email}"></td>
              </tr>
              <tr>
                <td class="uk-text-bold uk-table-shrink">Телефон</td>
                <td><p th:text="${user.phoneNumber}"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="uk-width-1-1">
          <a href="#form-edit" class="uk-button uk-button-small" data-uk-toggle>Редагувати</a>
        </div>
        <div id="form-edit" class="uk-width-1-1 uk-margin-medium-top" hidden>
          <div class="border-box">
            <div class="border-box-title">Редагувати профайл</div>
            <form method="POST" action="#"
                  data-uk-grid class="uk-grid-small" enctype="multipart/form-data">
              <div class="uk-width-1-1">
                <label>Ім'я</label>
                <input name="first_name" value="User" class="uk-input uk-width-1-1" type="text" placeholder="Ім'я" required>
              </div>
              <div class="uk-width-1-1">
                <label>Прізвище</label>
                <input name="last_name" value="User" class="uk-input uk-width-1-1" type="text" placeholder="Прізвище" required>
              </div>
              <div class="uk-width-1-1">
                <label>Телефон</label>
                <div class="phone-container"><input name="phone" value="3800000000" class="uk-input uk-width-1-1 phone" type="text" placeholder="Телефон" maxlength="13" required></div>
              </div>
              <div class="uk-width-1-1">
                <div class="input-desc top">Щоб додати аватар до профілю оберіть його. Дозволені типи файлів: jpg, png</div>
                <div class="uk-width-1-1" data-uk-form-custom="target: true">
                  <input type="file" name="file">
                  <input class="uk-input uk-width-1-1" type="text" placeholder="Обрати зображення" disabled>
                </div>
              </div>
              <div class="uk-width-1-1">
                <input value="1" name="remove-image" class="uk-checkbox uk-margin-small-right" type="checkbox">
                Видалити зображення аватара
              </div>
              <div class="uk-width-auto">
                <input hidden name="id" th:value="${user.id}" class="uk-input uk-width-1-1" type="number">
                <button class="uk-button uk-button-small uk-width-1-1" type="submit" name="submit" value="Submit">Оновити</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer-crm">
  2023 © Quality Work — In the right place At the right time</footer>
</body>
</html>