<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="X-CSRF-TOKEN" content="82171889f75eb82d718ff2357a5834d6" /><title>Quality Work</title>
    <link rel="icon" href="/static/images/quality-work-01.svg">
    <link rel="apple-touch-icon" href="/static/images/quality-work-01.svg">
    <link href="/static/css/uikit.min.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
    <script src="jquery.min.js"></script>
    <script src="uikit.min.js"></script>
    <script src="uikit-icons.min.js"></script>
    <script src="inputmask.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<nav id="nav" class="nav-crm close">
    <ul>
        <li class="logo-container"><a href="http://localhost:8080/panel/worker" class="logo-text">
            <span>Quality Work</span>In the right place at the right time        </a></li>
        <li class="divider">Menu</li>
        <li><a href="http://localhost:8080/panel/worker" class="active icon icon-dashboard">Стартова панель</a></li>
        <li><a href="http://localhost:8080/calendar" class=" icon icon-objects">Календар</a></li>
        <li><a th:href="@{http://localhost:8080/stat/{userId}(userId = ${loggedUser.id})}" class=" icon icon-stat">Статистика</a></li>
    </ul>
    <ul class="nav-crm-bottom">
        <li class="lang uk-hidden@l">
            <a href="https://e-quality.work/uk/crm/" class="active">Українська</a>
            <a href="https://e-quality.work/pl/crm/" class="">Polski</a>
        </li>
        <li class="profile">
            <a href="http://localhost:8080/profile">
                <img class="profile-image" src="/static/images/avatar.png">
                <div><p th:text="${loggedUser.firstName + ' ' + loggedUser.lastName}"></div>
            </a>
            <div class="profile-number"><p th:text="${loggedUser.id}"></div>
        </li>
        <li><a href="/logout" class="icon icon-logout">Вийти</a></li>
    </ul>
    <a href="#" data-uk-toggle="target: #nav; cls: close" class="nav-crm-close uk-hidden@l"><span data-uk-icon="icon:close;ratio:1"></span></a>
</nav>
<header class="header-crm">
    <div data-uk-grid class="uk-grid-small">
        <div class="uk-width-auto uk-hidden@l">
            <a href="http://localhost:8080/panel/worker" class="logo logo-icon"></a>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle uk-hidden@l">
            <a href="#" data-uk-toggle="target: #nav; cls: close" class=""><span data-uk-icon="icon:menu;ratio:1.2"></span></a>
        </div>
        <div class="uk-width-expand uk-flex uk-flex-middle">
            <div class="header-title">Стартова панель</div>
        </div>
        <div class="uk-width-auto uk-flex uk-flex-middle uk-visible@m">
            <ul class="lang-ul">
                <li><a href="https://e-quality.work/uk/crm/" class="active">Українська</a></li>
                <li><a href="https://e-quality.work/pl/crm/" class="">Polski</a></li>
            </ul>
        </div>
    </div>
</header>
<main class="main-crm">
    <br>
    <div class="uk-grid-small" data-uk-grid>
        <div class="uk-width-expand">
            <div class="uk-grid-small" data-uk-grid>
                <div class="uk-width-1-1">
                    <div class="alert">
                        <div class="uk-grid-small" data-uk-grid>
                            <div class="uk-width-expand uk-flex uk-flex-middle">
                                Ви маєте можливість додати/відредагувати зміни роботи на наступний тиждень</div>
                            <div class="uk-width-auto@s uk-flex uk-flex-middle">
                                <a class="uk-button uk-button-small uk-button-green" href="http://localhost:8080/calendar/next">Наступний тиждень</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1"><h3>Мій робочий тиждень</h3></div>
                <div class="uk-width-1-1">
                    <ul class="calendar">
                        <li class="calendar-close" th:each="date : ${dates}">
                            <div class="calendar-padding">
                                <div data-uk-grid class="uk-grid-small">
                                    <div class="uk-width-auto uk-flex uk-flex-middle">
                                        <p class="date"><p th:text="${date.dayOfWeek.toString() + ' ' + date.dayOfMonth + ' ' + date.month.toString()}"></p>
                                    </div>
                                    <div class="uk-width-auto uk-flex uk-flex-middle">
                                <span th:if="${userWorkDetailsService.getByUserBetweenTime(loggedUser, date.atTime(0, 0), date.atTime(23, 59)) == null}">
                                    <p class="zmina zmina-0">Не Працюю</p>
                                </span>
                                        <span th:if="${userWorkDetailsService.getByUserBetweenTime(loggedUser, date.atTime(0, 0), date.atTime(23, 59)) != null}">
                                    <p class="zmina zmina-0" th:text="${userWorkDetailsService.getByUserBetweenTime(loggedUser, date.atTime(0, 0), date.atTime(23, 59)).shift.toString()}">Рабочая смена</p>
                                </span>
                                    </div>
                                    <div class="uk-width-auto">
                                        <p class="need-approve">
                                            <span th:if="${userWorkDetailsService.getByUserBetweenTime(loggedUser, date.atTime(0, 0), date.atTime(23, 59)) == null}">
                                                <p class="zmina zmina-0">  </p>
                                            </span>
                                            <span th:if="${userWorkDetailsService.getByUserBetweenTime(loggedUser, date.atTime(0, 0), date.atTime(23, 59)) != null}">
                                                <span th:if="${userWorkDetailsService.getByUserBetweenTime(loggedUser, date.atTime(0, 0), date.atTime(23, 59)).accepted == false}">
                                                    Дані вступлять в силу після підтвердження Супервайзером.</span>
                                                <p th:text="${userWorkDetailsService.getByUserBetweenTime(loggedUser, date.atTime(0, 0), date.atTime(23, 59)).shift.toString()}"></p>
                                            </span>
                                            <br>
                                    </div>
                                    <div class="uk-width-expand@m uk-flex uk-flex-middle">
                                        <div class="full">
                                            <div data-uk-grid class="uk-grid-collapse">
                                                <div class="uk-width-1-1 uk-flex uk-flex-middle">
                                                    <em class="grey">Робота відсутня</em>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-auto uk-flex uk-flex-middle">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="uk-width-1-1"><a class="uk-button uk-button-small" href="http://localhost:8080/calendar">Керувати календарем</a></div>
            </div>
        </div>
        <div class="uk-width-1-1 uk-hidden@l"><hr></div>
    </div>
</main>
<footer class="footer-crm">
    2023 © Quality Work — In the right place At the right time</footer>
</body>
</html>