
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <meta name="X-CSRF-TOKEN" content="178e6cb9e0f672a2049dde11dce90920" /><title>Quality Work</title>
  <link rel="icon" href="/assets/images/quality-work-icon-01.svg">
  <link rel="apple-touch-icon" href="/assets/images/quality-work-icon-01.svg">
  <base href="https://e-quality.work">
  <link href="/assets/uikit/css/uikit.min.css" type="text/css" rel="stylesheet" />
  <link href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" rel="stylesheet"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="/assets/style/style.css?1684418784" type="text/css" rel="stylesheet" />
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/uikit/js/uikit.min.js"></script>
  <script src="/assets/uikit/js/uikit-icons.min.js"></script>
  <script src="/assets/js/inputmask.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
  <script src="/assets/js/app.js"></script>
</head><body>
<nav id="nav" class="nav-crm close">
  <ul>
    <li class="logo-container"><a href="http://localhost:8080/index" class="logo-text">
      <span>Quality Work</span>In the right place at the right time</a></li>
    <li class="divider">Меню</li>
    <li><a href="http://localhost:8080/index" class=" icon icon-dashboard">Стартова панель</a></li>
    <li><a href="http://localhost:8080/objects" class=" icon icon-objects">Об'єкти</a></li>
    <li><a href="http://localhost:8080/orders" class="active icon icon-orders">Замовлення</a></li>
    <li><a href="http://localhost:8080/users" class=" icon icon-users">Працівникі</a></li>
    <li><a href="http://localhost:8080/stat" class=" icon icon-stat">Статистика</a></li>
  </ul>
  <ul class="nav-crm-bottom">
    <li class="lang uk-hidden@l">
      <a href="https://e-quality.work/uk/crm/orders" class="active">Ukrainian</a>
      <a href="https://e-quality.work/pl/crm/orders" class="">Polski</a>
    </li>
    <li class="profile">
      <a href="http://localhost:8080/profile">
        <img class="profile-image" src="assets/upload/avatar/avatar.png">
        <div><p th:text="${user.firstName}"><br><p th:text="${user.lastName}"></div>
      </a>
      <div class="profile-number"><p th:text="${user.id}"></div>
    </li>
    <li><a href="" class="icon icon-logout">Вийти</a></li>
  </ul>
  <a href="#" data-uk-toggle="target: #nav; cls: close" class="nav-crm-close uk-hidden@l"><span data-uk-icon="icon:close;ratio:1"></span></a>
</nav>
<header class="header-crm">
  <div data-uk-grid class="uk-grid-small">
    <div class="uk-width-auto uk-hidden@l">
      <a href="https://e-quality.work/uk/crm/" class="logo logo-icon"></a>
    </div>
    <div class="uk-width-auto uk-flex uk-flex-middle uk-hidden@l">
      <a href="#" data-uk-toggle="target: #nav; cls: close" class=""><span data-uk-icon="icon:menu;ratio:1.2"></span></a>
    </div>
    <div class="uk-width-expand uk-flex uk-flex-middle">
      <div class="header-title">Замовлення</div>
    </div>
    <div class="uk-width-auto uk-flex uk-flex-middle uk-visible@m">
      <ul class="lang-ul">
        <li><a href="" class="active">Ukrainian</a></li>
        <li><a href="" class="">Polski</a></li>
      </ul>
    </div>
  </div>
</header>
<main class="main-crm">
  <div data-uk-grid class="uk-grid-small">
    <div class="uk-width-1-1 uk-margin-small-top uk-margin-medium-bottom add" hidden>
      <div class="border-box">
        <div class="border-box-title">Додати замовлення</div>
        <form method="POST" th:action="${order}" data-uk-grid class="uk-grid-small">
          <div class="uk-width-1-1">
            <label>Вибрати об'єкт</label>
            <div data-type="objects" class="input-search-container input-search-container-objects">
              <input name="objectName" value="" class="uk-input uk-width-1-1 input-search" type="text" placeholder="Введіть назву">
              <ul class="input-search-result input-search-result-objects" hidden></ul>
            </div>
          </div>
          <div class="uk-width-small@s">
            <label>Дата у форматі MM d yyyy HH:mm</label>
            <input name="startTime" type="text" class="uk-input uk-width-1-1 input-search" placeholder="Введіть дату у форматі MM d yyyy HH:mm'">
            <input name="finishTime" type="text" class="uk-input uk-width-1-1 input-search" placeholder="Введіть дату у форматі MM d yyyy HH:mm'">
          </div>
          <div class="uk-width-small@s">
            <label>Працівників</label>
            <input name="workers" value="1" class="uk-input uk-width-1-1" type="number" min="1" autocomplete="off" required />
          </div>
          <div class="uk-width-medium@s" hidden>
            <label>Зміна</label>
            <select class="uk-select uk-width-1-1" name="zmina" required>
              <option value="1">Денна зміна</option>
              <option value="2">Нічна зміна</option>
              <option value="3">Денна + нічна зміна</option>
            </select>
          </div>
          <div class="uk-width-1-1">
            <label>Коментар</label>
            <textarea name="description" class="uk-textarea" rows="3"></textarea>
          </div>
          <div class="uk-width-1-1 uk-margin-medium-top">
            <div data-uk-grid class="uk-grid-small">
              <div class="uk-width-auto">
                <button class="uk-button uk-button-small uk-width-1-1" type="submit" name="submit" value="Submit">Додати</button>
              </div>
              <div class="uk-width-auto">
                <a href="#" class="uk-button uk-button-small uk-button-grey uk-width-1-1" data-uk-toggle="target: .add">Відміна</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="uk-width-auto@s">
      <a href="#" class="uk-button uk-width-1-1 uk-button-small add" data-uk-toggle="target: .add">Додати замовлення</a>
    </div>
    <div class="uk-width-expand uk-visible@s"></div>
    <div class="uk-width-auto@s">
      <a href="" target="_blank" class="uk-button uk-width-1-1 uk-button-green uk-button-small">Завантажити List поточного тижня</a>
    </div>

    <div class="uk-width-1-1">
      <div data-uk-grid class="uk-grid-small uk-flex">
        <div class="uk-width-auto">
          <a href=""><span data-uk-icon="icon:arrow-left" class=""></span></a>
        </div>
        <div class="uk-width-auto">
          <b><p th:text="${dates.get(0).dayOfMonth + dates.get(0).month.toString() + ' - ' + dates.get(dates.size()-1).dayOfMonth + dates.get(dates.size()-1).month.toString()}"></b>
        </div>
        <div class="uk-width-auto uk-flex-last@m">
          <a href=""><span data-uk-icon="icon:arrow-right" class=""></span></a>
        </div>
      </div>
    </div>
    <div class="uk-width-1-1">
      <div class="uuk-overflow-auto">
        <table class="uk-table uk-table-xsmall uk-table-divider uk-table-middle table-responsive">
          <thead>
          <tr>
            <th class="uk-table-shrink">#</th>
            <th class="uk-table-shrink">Дата</th>
            <th class="">Об'єкт</th>
            <th class="">Робочі години</th>
            <th>Працівників</th>
            <th class="uk-table-shrink"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="order : ${location}">
            <td class="uk-table-shrink" data-th="Номер замовлення:">
              <div class="right"><p th:text="${order.id}"></div></td>
            <td class="uk-table-shrink" data-th="Дата:"><div class="right td-date"><p th:text="${order.startTime.toLocalDate()}"></div></td>
            <td data-th="Об'єкт:" class="uk-text-bold"><div class="right green"><p th:text="${order.object.name}"></div></td>
            <td class="uk-table-shrink" data-th="Робочі години:"><div class="right td-date">
              <p th:text="${order.startTime.toLocalTime().toString() +'-'+ order.finishTime.toLocalTime().toString()}"></div></td>
            <td data-th="Працівників:" class=""><b><p th:text="${orderUserService.getByOrder(order).size()-1}"></b></td>
            <td class="uk-table-shrink"><div class="left">
              <a href="editOrder.html" th:href="@{http://localhost:8080/orders/edit/{orderId}(orderId = ${order.id})}" class="uk-button uk-button-xsmall">Перегляд</a></div></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="uk-width-1-1">
      <div>Всього записів: <p th:text="${location.size()}"></div>
      <div></div>
    </div>
    <div class="uk-width-1-1" hidden>

    </div>
  </div>
</main>
<footer class="footer-crm">
  2023 Quality Work - In the right place At the right time</footer>
</body>
</html>